.Weather {
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid #dadde1;
  color: darkgray;
  padding: 16px 16px 0px;
  border-radius: 4px;
}

.Weather form {
  justify-content: center;
  margin-bottom: 20px;
}

.Weather h1 {
  color: #878787;
  margin: 20px 0 0 20px;
}

.Weather ul {
  margin-left: 20px;
  padding: 0;
}

.Weather li {
  line-height: 19px;
  list-style: none;
}

.Weather icon {
  margin-left: 10px;
}

.Weather canvas {
  width: 55px;
}

.Weather .temperature {
  color: rgb(33, 33, 33);
  font-size: 55px;
  line-height: 64px;
  font-weight: 400;
  margin-left: 15px;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 14px;
  font-weight: 400;
  position: relative;
  top: -30px;
}

.Weather footer {
  font-size: 11px;
  margin-top: 20px;
  padding: none;
}
